<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Bluetooth
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- refresh كبسة لجلب اجهزة البلوتوث في قائمة -->
  <button ion-button full class="submit-button" (click)="listPairedDevices()">
    <ion-icon name="refresh"></ion-icon>&nbsp;Refresh Bluetooth Devices</button>
  <ion-row>
    <ion-col>

      <ion-list radio-group [(ngModel)]="pairedDeviceID" *ngIf="listToggle">
        <ion-item *ngFor="let i of pairedList;let j=index">
          <ion-label>{{i.name}}</ion-label>
          <ion-radio value="{{j}}" ></ion-radio>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  <!-- الشبك بالنظارة  -->
  <button ion-button full class="submit-button" *ngIf="listToggle" (click)="selectDevice()">
    <ion-icon name="bluetooth"></ion-icon>&nbsp;Connect Bluetooth Devices</button>
  <!-- <ion-list>
    <ion-item>
      <ion-label floating>Type The Data You want to Send</ion-label>
      <ion-input type="text" name="datasend" [(ngModel)]="dataSend"></ion-input>
    </ion-item>
  </ion-list> -->
  <button ion-button full class="submit-button" (click)="sendData()">
    <ion-icon name="send"></ion-icon>&nbsp;Resend Data Via Bluetooth
  </button>
</ion-content>