<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Map</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
 
  <div padding [@myAnimation]>
    <div text-center>
      <p id="homePage">{{ greeting }}, {{ userData.email}}.</p>

      <p>Blind Application</p>
    </div>


    <button ion-button color="dark" block (click)="signOutClicked()">Sign Out</button>
  </div>
  <div id="map_canvas">
  </div>
  <div *ngIf="!showParent">
    <button ion-button (click)="psuhUserLocation()">Get my location</button>
  </div>
  <div *ngIf="showParent">
    <button ion-button (click)="getUsrLocation()">Get my Blind location</button>
  </div>
</ion-content>
